
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<User>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="User" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-person-add"></i> &nbsp; Create New User
                </a>
        </div>
    </div>
    <br/>
    <br/>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @if (Context.Request.Query["sortKey"] == "Name" && Context.Request.Query["sortDirection"]=="ASC")
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Name" asp-route-sortDirection="DESC" style="text-decoration:none">
                            <i class="bi bi-caret-up-square-fill">Name</i>
                        </a>
                    }else{
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Name" asp-route-sortDirection="ASC" style="text-decoration:none">
                            <i class="bi bi-caret-down-square-fill">Name</i>
                        </a>
                    }
                </th>
                <th>
                    @if (Context.Request.Query["sortKey"] == "Surname" && Context.Request.Query["sortDirection"]=="ASC")
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Surname" asp-route-sortDirection="DESC" style="text-decoration:none">
                            <i class="bi bi-caret-up-square-fill">Surname</i>
                        </a>
                    }else{
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Surname" asp-route-sortDirection="ASC" style="text-decoration:none">
                            <i class="bi bi-caret-down-square-fill">Surname</i>
                        </a>
                    }
                </th>
                <th>
                    @if (Context.Request.Query["sortKey"] == "Email" && Context.Request.Query["sortDirection"] == "ASC")
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Email" asp-route-sortDirection="DESC" style="text-decoration:none">
                            <i class="bi bi-caret-up-square-fill">Email</i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Email" asp-route-sortDirection="ASC" style="text-decoration:none">
                            <i class="bi bi-caret-down-square-fill">Email</i>
                        </a>
                    }
                </th>
                <th>
                    @if (Context.Request.Query["sortKey"] == "DoB" && Context.Request.Query["sortDirection"] == "ASC")
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="DoB" asp-route-sortDirection="DESC" style="text-decoration:none">
                            <i class="bi bi-caret-up-square-fill">Birthdate</i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="DoB" asp-route-sortDirection="ASC" style="text-decoration:none">
                            <i class="bi bi-caret-down-square-fill">Birthdate</i>
                        </a>
                    }
                </th>
                <th>
                    @if (Context.Request.Query["sortKey"] == "Gender" && Context.Request.Query["sortDirection"] == "ASC")
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Gender" asp-route-sortDirection="DESC" style="text-decoration:none">
                            <i class="bi bi-caret-up-square-fill">Gender</i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="Gender" asp-route-sortDirection="ASC" style="text-decoration:none">
                            <i class="bi bi-caret-down-square-fill">Gender</i>
                        </a>
                    }
                </th>
                <th>
                    @if (Context.Request.Query["sortKey"] == "createdAt" && Context.Request.Query["sortDirection"] == "ASC")
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="createdAt" asp-route-sortDirection="DESC" style="text-decoration:none">
                            <i class="bi bi-caret-up-square-fill">Created Date</i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="createdAt" asp-route-sortDirection="ASC" style="text-decoration:none">
                            <i class="bi bi-caret-down-square-fill">Created Date</i>
                        </a>
                    }
                </th>
                <th>
                    @if (Context.Request.Query["sortKey"] == "updatedAt" && Context.Request.Query["sortDirection"] == "ASC")
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="updatedAt" asp-route-sortDirection="DESC" style="text-decoration:none">
                            <i class="bi bi-caret-up-square-fill">Updated Date</i>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-sortKey="updatedAt" asp-route-sortDirection="ASC" style="text-decoration:none">
                            <i class="bi bi-caret-down-square-fill">Updated Date</i>
                        </a>
                    }
                </th>
                <th>
                    Edit
                </th>
                <th>
                   Delete
                </th>
            </tr>
        </thead>
        <tbody class="text">
            @foreach(var User in Model)
            {
                <tr>
                    <td>
                        @User.Name
                    </td>
                    <td>
                        @User.Surname
                    </td>
                    <td>
                        @User.Email
                    </td>
                    <td>
                        @User.DoB
                    </td>
                    <td>
                        @User.Gender
                    </td>
                    <td>
                        @User.createdAt
                    </td>
                    <td>
                        @User.updatedAt
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@User.Id"
                            class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square" ></i> Edit
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@User.Id"
                           class="btn btn-danger mx-2">
                                <i class="bi bi-person-x"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>